# Dependency directories
node_modules/

# Environment variables (Sensitive data)
.env

# Logs
logs
*.log

# Python cache
__pycache__/
*.pyc

# Local binary/bypasses
goodbyedpi/

# Temporary files
temp_*.mp3
*-player-script.js

# OS files
.DS_Store
Thumbs.db
